*{
    box-sizing: border-box;
    margin: 0;
    background-color: rgb(30, 30, 30);
    font-family: sans-serif;
}

html{
    scroll-behavior: smooth;
}

h1{
    font-size: 2em;

}

h2{
    font-size: 1.7em;
    margin-right: 10px;
    color: rgb(199,198,198);
}


h3{font-size: 1.1em;}
p{font-size: 1.25em;}


.container{
    max-width: 1400px;
    margin: auto;
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
}


header .logo{
    margin: 0;
    width: 15%;
    display: block;
    margin: auto;

}

header .container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;    
}

header nav{
    display:flex;
    flex-direction: column;
    text-align: flex-end;
    padding-bottom: 25px;
    height: 10vh;

}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(199, 198, 198);
}

header a:hover{
    color: #b48f33
}

#servicios .container, #ubicación .container, #reservas .container, #contacto .container, #quienes-somos .container{
    text-align: center;
    color: rgb(199,198,198);
    padding: 35px 12px;
}

iframe{
    margin-top: 50px;
}

footer .container{
    display: flex;
    justify-content: center;
}

footer img{
    width: 40px;
    height: 40px;
    
}

footer img:hover{
    transform: rotate(15deg);
}

@media (min-width: 720px) {
    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header{
        width: 100%;
    }

    header nav{
    flex-direction: row;
    padding-bottom: 0;
    padding-right: 20px;
}

}